img.image-lg {
    width: 64px!important;
    height: 64px!important;
}
.rounded {
    border-radius: 0.25rem !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.titleMember{
    font-size:16px!important;
    font-weight:bold!important;
}
.subTitleMember {
    font-size: 14px !important;
    color: #002147!important;
}