.textUnder {
    font-size: 8pt;
}

img.image-lg {
    width: 64px !important;
    height: 64px !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.contact-wrap {
    float: left;
    margin-right: 20px;
}