<div class="row mb-16">
  <div class="col-xs-4">
    <button mat-flat-button color="accent" [disabled]="isWorking" (click)="openContractTypeModal()">
      {{ 'general.addTermType' | translate }}&nbsp;<mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="col-xs-2">
    <mat-spinner *ngIf="isWorking" diameter="25"></mat-spinner>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <mat-accordion *ngIf="termsTypes.length > 0">
      <mat-expansion-panel [disabled]="isWorking" *ngFor="let item of termsTypes; trackBy:trackList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
          <mat-panel-description class="row end-xs">
            <mat-icon class="cursor-pointer" *ngIf="!isWorking" (click)="addClausuleModal(item)">
              add</mat-icon>&nbsp;&nbsp;
            <mat-icon class="cursor-pointer" *ngIf="!isWorking" (click)="deleteTermType(item)">
              delete</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, item.id)">
          <div class="example-box" cdkDrag *ngFor="let terms of item.contractTerms">
            <div class="row w-100-p">
              <div class="col-xs-1">{{ terms.position }}</div>
              <div class="col-xs-8">{{ terms.term.name }}</div>
              <div class="col-xs-3 alignbuttns">
                <!-- <button mat-icon-button color="accent">
                  <mat-icon>edit</mat-icon>
                </button> -->
                <button mat-icon-button color="accent" (click)="confirmDelete(terms.id, terms.term.name)">
                  <mat-icon>deleted</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>