<div mat-dialog-title>
    <table>
        <tr>
            <td>
                {{titleAction}}
            </td>
            <td class="end-xs">
                <mat-icon aria-hidden="false">add_location</mat-icon>
            </td>
        </tr>
    </table>
</div>
<form  [formGroup]="form" class="p-4 w-100-p">
    <mat-dialog-content>
        <hr>
        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step>
                <ng-template matStepLabel>{{ 'general.generalData' | translate }}</ng-template>
                <div class="w-50-p m-x-auto">
                    <app-upload-image [image]="croppedImage" errorImage="assets/images/logos/360-circle.png" (selectImage)="selectImage($event)"></app-upload-image>
                </div>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{ 'general.capacity' | translate }}&nbsp;<span class="red-required">*</span></mat-label>
                    <input matInput placeholder="{{ 'formField.messages.enterCode' | translate }}" formControlName="capacity">
                    <mat-error *ngIf="f.capacity?.errors?.required">
                        {{ 'validations.errors.nameRequired' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{ 'general.website' | translate }}</mat-label>
                    <input type="url" matInput placeholder="{{ 'formField.messages.enterWebSite' | translate }}"
                           formControlName="webSite">
                </mat-form-field>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{ 'general.address' | translate }}</ng-template>
                <app-address-form [data]="data" (formReady)="bindExternalForm('address',$event)"></app-address-form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="w-40-p text-right">
            <mat-spinner *ngIf="isWorking" diameter="25"></mat-spinner>
        </div>
        <div class="w-60-p text-right">
            <button mat-stroked-button color="primary" type="button" (click)="onNoClick()">
                <mat-icon>cancel</mat-icon> {{ 'general.cancel' | translate }}
            </button>&nbsp;
            <button mat-flat-button color="primary" [disabled]="form.invalid || addressForm.invalid" (click)="set()">
                <mat-icon>save</mat-icon> {{action}}
            </button> &nbsp;
        </div>
    </mat-dialog-actions>
</form>