<div [formGroup]="memberForm" class=" top-xs">
    <h3 mat-dialog-title>{{titleAction}}</h3>

    <mat-horizontal-stepper #stepper>
        <ng-template matStepperIcon="data">
            <mat-icon>featured_play_list</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="address">
            <mat-icon>location_on</mat-icon>
        </ng-template>
        <mat-step label="{{ 'general.generalData' | translate }}" state="data">
            <div class="mat-dialog-content">
                <div class="row">
                    <div class="col-xs-12">
                        <app-person-form class="persontop" errorImage="assets/images/avatars/defaultProfile4.jpg" (formReady)="bindExternalForm('generalData',$event)"
                            [image]="pictureUrl" [person]="person">
                        </app-person-form>
                    </div>

                </div>
                <div class="personbottom">
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-xs-4 p-8">
                            <mat-label>{{ 'general.mainActivity' | translate }}&nbsp;<span class="red-required">*</span></mat-label>
                            <input type="text" placeholder="{{ 'general.mainActivity' | translate }}"
                                   aria-label="Activity" matInput [formControl]="mainActivityFC" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autocompleteOptionSelected($event)">
                                <mat-option *ngFor="let option of filteredOptions | async" [id]="option.value" [value]="option.viewValue">
                                    {{option.viewValue}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="f.mainActivityId?.errors?.required">
                                {{ 'validations.errors.mainActivityRequired' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-xs-4 p-8">
                            <mat-label>{{ 'general.StartDateJoined' | translate }}&nbsp;<span class="red-required">*</span></mat-label>
                            <input matInput [matDatepicker]="pickerStartDate"
                                   placeholder="{{ 'formField.messages.selectStartDateJoined' | translate }}"
                                   formControlName="startDateJoinedString">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartDate></mat-datepicker>
                            <mat-error *ngIf="f.startDateJoined?.errors?.required">
                                {{ 'validations.errors.startDateJoinedRequired' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-xs-4 p-8">
                            <mat-label>{{ 'general.EndDateJoined' | translate }}</mat-label>
                            <input matInput [matDatepicker]="pickerDateJoined"
                                   placeholder="{{ 'formField.messages.selectEndDateJoined' | translate }}"
                                   formControlName="endDateJoinedString">
                            <mat-datepicker-toggle matSuffix [for]="pickerDateJoined"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDateJoined></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-xs-4 p-8">
                            <mat-label>{{ 'general.musicalsInstruments' | translate }}</mat-label>
                            <mat-select placeholder="{{ 'formField.messages.selectMusicalsInstruments' | translate }}"
                                formControlName="musicalsInstruments" multiple>
                                <mat-option *ngFor="let instrument of musicalInstruments" [value]="instrument.value">
                                    {{instrument.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f.musicalsInstruments?.errors?.required">
                                {{ 'validations.errors.musicalsInstrumentsRequired' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-xs-12 p-8">
                            <mat-label>{{ 'general.notes' | translate }}</mat-label>
                            <textarea matInput placeholder="{{ 'general.notes' | translate }}"
                                rows="6" formControlName="biography"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row end-xs">
                        <div class="col-xs-12">
                            <mat-spinner *ngIf="isWorking" diameter="25"></mat-spinner>
                            <button mat-stroked-button color="primary" type="button" (click)="onNoClick()">
                                <mat-icon>cancel</mat-icon> {{ 'general.cancel' | translate }}
                            </button>&nbsp;
                            <button mat-flat-button color="primary" [disabled]="!memberForm.valid"
                                (click)="setMember()">
                                {{action}}&nbsp;<mat-icon>save</mat-icon>
                            </button> &nbsp;
                        </div>
                    </div>
                </div>
            </div>

        </mat-step>
        <mat-step label="{{ 'general.address' | translate }}" state="address">
            <div class="mat-dialog-content">
                <app-address-manager (emitAddressData)="receiveAddressData($event)" [personId]="id">
                </app-address-manager>
            </div>
        </mat-step>

    </mat-horizontal-stepper>

</div>