<div class="page-layout carded fullwidth">
    <!-- HEADER -->
    <div class="header accent pl-24" fxLayout="row" fxLayoutAlign="start center">
        <div class="w-50-p">
            <h4>{{'general.team'|translate}}</h4>
        </div>
        <div class="custom-breadcrum">
            <a routerLink="/" class="fuse-white-fg">{{ 'general.startCenter' | translate }}</a> /
            <a routerLink="/artist" class="fuse-white-fg">{{ 'general.artists' | translate }}</a> /
            <span class="secondary-text">{{'general.team'|translate}}</span>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content  m-24 p-12 mat-card">
        <div class="row">
            <mat-form-field appearance="outline" *ngIf="isAdmin" class="col-xs-12">
                <mat-label>{{'general.artistlist'|translate}}</mat-label>
                <mat-select [(ngModel)]="personId">
                    <mat-option *ngFor="let artist of artistsList" [value]="artist.value">
                        {{artist.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <app-member-manager *ngIf="personId > 0" [personId]="personId">
                </app-member-manager>
            </div>
        </div>
    </div>
</div>