ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.custom-card-header {
    ::ng-deep .mat-card-header-text {
        margin: 0 !important;
        display: none;
    }
}

.image-card {
    width: 70%;
    display: block;
    margin: auto;
}

.actionCard button mat-icon {
    color: #ffffff !important;
}