<div class="page-layout carded fullwidth">
  <!-- HEADER -->
  <div class="header accent pl-24" fxLayout="row" fxLayoutAlign="start center">
      <div class="w-50-p">
          <h4>{{ 'general.releases' | translate }}</h4>
      </div>
      <div class="w-50-p text-right pr-8">
          <a routerLink="/" class="fuse-white-fg">{{ 'general.startCenter' | translate }}</a> /
          <span class="secondary-text">{{ 'general.releases' | translate }}</span>
      </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-8">
    <app-calendar-manager [eventType]="eventType.releases" [create]="false"></app-calendar-manager>
  </div>
  <!-- / CONTENT -->
</div>