<div mat-dialog-title>{{ termTypeContract.termTypeName }}</div>

<mat-dialog-content>
  <div [hidden]="!isCreatingClausule">
    <div class="m-12" [formGroup]="formClausule">
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="{{'general.description' | translate}}" formControlName="name"
          rows="5"></textarea>
        <mat-error *ngIf="f.name?.errors?.required">
          {{ 'validations.errors.selectSocialNetwork' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-flat-button class="accent" [disabled]="isWorking" (click)="cancelClausule()">
        <mat-icon>cancel</mat-icon>
      </button>&nbsp;
      <button mat-flat-button class="accent" [disabled]="isWorking" (click)="setClausule()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div [hidden]="isCreatingClausule">
    <div class="m-12">
      <button mat-flat-button class="accent" [disabled]="isWorking" (click)="isCreatingClausule=true">
        {{ 'general.new' | translate }}&nbsp;<mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'general.name'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="row-notification" *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-40-p text-right">
    <mat-spinner *ngIf="isWorking" diameter="25"></mat-spinner>
  </div>
  <div class="w-60-p text-right">
    <button mat-stroked-button color="primary" [disabled]="isWorking" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon> {{ 'general.cancel' | translate }}
    </button>&nbsp;
    <button mat-flat-button color="primary" [disabled]="isWorking" (click)="set()">
      <mat-icon>save</mat-icon> {{ 'general.save' | translate }}
    </button> &nbsp;
  </div>
</mat-dialog-actions>